.dropdown-menu-container {
  position: relative;
  list-style: none;
}
.drop-menu {
  position: absolute;
  top: 2vw;
  right: 0;
  background-color: black;
  list-style: none;
  color: #eee;
  border-radius: 10px;
  z-index: 500;
}

.drop-menu::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -9px;
  right: 10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid black;
}



.drop-menu li {
  padding: 10px 70px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: .5s all;
}

.drop-menu li:hover {
  color: #000;
  background-color: #fff;
}